.footer {
  position: fixed;
  bottom: 0;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  width: 100%;
  background-color: #f7ca18;
  padding: 10px;
}

.item {
  margin: 50px;
}
@media screen and (max-width: 600px) {
  .footer {
    font-size: 1.2em;
  }

  .item {
    margin: 20px;
  }
}
