.item {
  width: 500px;
  color: #353935;
  font-size: 20px;
  margin: 0 auto;
}

.itemName {
  font-weight: bold;
  padding: 20px;
}

.line {
  border: 1px solid#f4f4f4;
}

.deleteButton {
  float: right;
  padding: 12px 20px;
  border: none;
  background-color: #f7ca18;
  color: white;
  margin-top: -5px;
  border-radius: 4px;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
}

/* Media query for screens smaller than 768px (adjust as needed) */
@media (max-width: 768px) {
  .item {
    width: 100%; /* Adjust the width for smaller screens */
    font-size: 16px; /* Adjust font size for smaller screens */
  }

  .itemName {
    padding: 10px; /* Adjust padding for smaller screens */
  }

  .deleteButton {
    padding: 10px 15px; /* Adjust padding for smaller screens */
  }
}
